.raffle-confirmed {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 2px;

}
.raffle-confirmed__success {
  font-size: 22px;
}
.raffle-confirmed__icon {
  border-radius: 50%;
  background-color: #8DC53E;
  width: 26vw;
  height: 11vh;
  margin: 0 auto;
  position: relative;
  top: -8vh;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0, .5);
  margin-bottom: -7vh;
  p {
    top: 15px;
    font-size: 55px;
    color: #fff;
    text-align: center;
    position: relative;
  }
}
.raffle-confirmed__text {
  margin-top: 20px;
}
.iconConfirm {
  svg {
    width: 30%;
    height: 30%;
  }
}
