.raffle {
  max-width: 390px;
  min-width: 320px;
  margin: 0 auto; }

.raffle__wrapper {
  background-color: #D4E0DC;
  padding: 0 10px;
  padding-bottom: 20px;
  margin-top: -50px;
  padding-top: 50px; }
