.raffle__wrapper-genders {
  margin-top: 10px;
  overflow: hidden;
  padding: 0;
  text-align: center; }
  .raffle__wrapper-genders ul {
    overflow: hidden; }
    .raffle__wrapper-genders ul li {
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      width: 50%;
      height: 50px;
      float: left;
      margin-left: -2px;
      padding-top: 10px; }
      .raffle__wrapper-genders ul li label {
        display: block;
        height: 33px; }

.raffle__wrapper-girl {
  width: 50%;
  float: left; }
  .raffle__wrapper-girl ul {
    background-color: #F977AB;
    border-radius: 0 10px 10px 0;
    border-top: 2px solid #000;
    border-right: 2px solid #000; }
  .raffle__wrapper-girl li:nth-child(2n) {
    border-right: 0 none;
    margin-right: -2px;
    margin-left: 0; }

.raffle__wrapper-boy {
  width: 50%;
  float: left; }
  .raffle__wrapper-boy ul {
    background-color: #71BAE2;
    border-radius: 10px 0 0 10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000; }

.raffle__name {
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-family: monospace; }

.raffle__familiar {
  font-size: 12px;
  width: 90%;
  display: block;
  margin: 0 auto;
  font-family: cursive; }

.raffle__radio {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.raffle__selected {
  position: relative; }
  .raffle__selected .raffle__effect {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 61px;
    left: 0;
    top: 0; }

.raffle__wrapper-boy .raffle__effect {
  width: 98%;
  left: 2%; }
